body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 236, 240);
    width: 755px;
    height: 2633px;
}
h3{
    border-bottom: solid;
    border-color: gold;
    font-family: sans-serif;
    font-style: italic;
}
[class*=price]{
    float: right;
}
[class*=price]:hover{
    font-size: 1.2em;
    color: #df2929;
}
ul{
    list-style-type: none;
    width: 500px;
    margin-left: 20px;
    overflow: hidden;
}
li{
    padding: 10px;
    height: 20px;
}
.text1{
    white-space: nowrap;
}
.text1:after{
    content: "............................................................................................................................";
    white-space: pre;
}
.text2{
    font-size: 0.9em;
}
div
[class*=breakfast],
[class*=hotstarters],
[class*=salads],
[class*=soup],
[class*=maincourse] {
    border: solid;
    border-radius: 20%;
    border-color: gold;
    height: 100px;
    width: 130px;
}
[class*=breakfast],
[class*=hotstarters],
[class*=salads],
[class*=soup],
[class*=maincourse] {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
[class*=breakfast]:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
[class*=hotstarters]:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
[class*=salads]:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
[class*=soup]:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
[class*=maincourse]:hover {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
[class*=menu] {
    display: inline-block;
    margin: 3px;
}
.breakfast1{
    background-image: url(./file5.2/pancake.png);
    background-position-x: center;
}
.breakfast1:hover{
    background-image: url(./file5.2/pancake1.png);
    background-position-y: center;
}
.breakfast2{
    background-image: url(./file5.2/egg.jpg);
}
.breakfast2:hover{
    background-image: url(./file5.2/egg3.jpg);
}
.breakfast3{
    background-image: url(./file5.2/egg2.jpg);
}
.breakfast3:hover{
    background-image: url(./file5.2/egg4.jpg);
}
.breakfast4{
    background-image: url(./file5.2/porridge.jpg);
}
.breakfast4:hover{
    background-image: url(./file5.2/porridge1.jpg);
}
.hotstarters1{
    background-image: url(./file5.2/scallop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.hotstarters1:hover{
    background-image: url(./file5.2/scallop1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.hotstarters2{
    background-image: url(./file5.2/salmon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.hotstarters2:hover{
    background-image: url(./file5.2/salmon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.hotstarters3{
    background-image: url(./file5.2/herring.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.hotstarters3:hover{
    background-image: url(./file5.2/herring1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.salads1{
    background-image: url(./file5.2/rukola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.salads1:hover{
    background-image: url(./file5.2/rukola1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.salads2{
    background-image: url(./file5.2/warm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.salads2:hover{
    background-image: url(./file5.2/warm1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.salads3{
    background-image: url(./file5.2/fresh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.salads3:hover{
    background-image: url(./file5.2/fresh1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.soup1{
    background-image: url(./file5.2/fish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 81%;
    transition: 1s;
}
.soup1:hover{
    background-image: url(./file5.2/fish1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.soup2{
    background-position-y: 63%;
    background-image: url(./file5.2/borsch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.soup2:hover{
    background-image: url(./file5.2/borsch1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.soup3{
    background-position-y: 63%;
    background-image: url(./file5.2/chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.soup3:hover{
    background-image: url(./file5.2/chicken1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.soup4{
    background-image: url(./file5.2/salmonsoup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.soup4:hover{
    background-image: url(./file5.2/salmonsoup1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.maincourse1{
    background-image: url(./file5.2/halibut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.maincourse1:hover{
    background-image: url(./file5.2/halibut1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.maincourse2{
    background-image: url(./file5.2/pork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.maincourse2:hover{
    background-image: url(./file5.2/pork1.jpg);
    background-repeat: no-repeat;
    background-size: 137%;
    background-position: 45% 48%;
    transform: scale(1.2);
}
.maincourse3{
    background-image: url(./file5.2/beef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.maincourse3:hover{
    background-image: url(./file5.2/beef1.jpg);
    background-repeat: no-repeat;
    transform: scale(1.2);
    background-position: 50% 50%;
}
.maincourse4{
    background-image: url(./file5.2/pilau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.maincourse4:hover{
    background-image: url(./file5.2/pilau1.jpg);
    background-repeat: no-repeat;
    transform: scale(1.2);
}